{% extends 'base.html.twig' %}


{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<div class="example-wrapper">
    
    
    <h1>{{ controller_name }} ! 🔍</h1>

    <p class="mb-2">This is My About Page</p>
    
    <ul>
        {% if app.user %}
            <li>LIGNIER Noémie <code>{{ app.user.email }}</code></li>
        {% endif%}
        <li>IUT Informatique <code>62100 - Calais</code></li>
    </ul>

    And it has been called from about function into HomeController :p
</div>
{% endblock %}
